@import "../variables";
.categories {
  ul {
    display: flex;
    /*     flex-wrap: wrap;
    justify-content: center; */

    li {
      /*       margin-top: 10px;
      margin-bottom: 10px; */
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
/* 992 */
/* Стили работают только если монитор меньше 1200 пикселей */
@media (max-width: 1200px) {
  .categories {
    ul {
      flex-wrap: wrap;
      li {
        margin-top: 10px;
      }
    }
  }
}
/* 768 */
@media (max-width: 991px) {
}
/* 576 */
@media (max-width: 767px) {
}
/* 320px */
@media (max-width: 575px) {
  .categories {
    ul {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
}
